/*public*/
.flexBox{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.flexBox .left{
    box-sizing: border-box;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}
.flexBox .right{
	flex:1;
	box-sizing: border-box;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
/*tender*/
.Tender{
	width: 100%;
}
.Tender .TenderItem{
	width: 100%;
	background-color: #ffffff;
}
.Tender .mainItem{
	width: 92%;
	margin: auto;
}
.Tender .TenderItemTop{
	line-height: 2.4rem;
	height: 2.4rem;
	border-bottom: 1px solid #f3f3f3;
}
.Tender .TenderItemTop .left{
	color: #2E2E2E;
	font-size: 1.1rem;
	position: relative;
	padding-left: 0.8rem;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.Tender .TenderItemTop .left:before{
	position: absolute;
	content: '';
	display: block;
	width: 0.3rem;
	height: 1rem;
	left: 0rem;
	top:0.76rem;
	background-color: #108EE9;
}
.Tender .TenderItemTop .right{
	color: #444444;
	font-size: 0.9rem;
}
.Tender .TenderItemTop .riskImg{
	width: 1.2rem;
	vertical-align: middle;
	margin-top: -0.2rem;
	margin-right: 0.3rem;
}