.page-bindcard {
  padding-bottom: 55px;

  .lay-bind {
    .v-cell-box:last-child .lay-cell:after {
      display: none;
    }

    .tag {
      padding-top: 5px;
      padding-left: 15px;
      font-size: 14px;
      color: #828282;
      line-height: 40px;
    }
  }
}