.index {
  .headContent{
    background-image: url('./../assets/images/head@2x.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
    -moz-background-size: 100% auto;
  }
  .headTips{
    position:absolute;
    top:50%;
    left:50%;
    width:1000px;
    margin-left:-500px;
    text-align:left;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
  }
  .tips1{
    font-size:34px;
    color:#a79000;
    font-family: 'gothamrounded-light';
  }
  .tips2 img{
    height:38px;
  }
  .indexContent{
    padding:0 40px 20px 40px;
  }
  .indexContent .grid-content img{
    width:170px;
    height:170px;
  }
  .indexContent .grid-content p{
    text-align:center;
    margin-top:10px;
  }
  .contentBox{
    border:1px solid #000;
    border-radius:15px;
  }
  .el-button--primary.is-plain{
    color: #000000!important;
    background: #edeced!important;
    border-color: #edeced!important;
    padding:7px 14px!important;
  }
  .el-button--primary.is-plain span{
    font-size:18px!important;
  }
  .el-button--primary.is-plain.active{
    background: #fdd301!important;
    border-color: #fdd301!important;
  }
  .el-button--success.is-plain{
    color: #000000!important;
    background: #fdd301!important;
    border-color: #fdd301!important;
    border-radius:10px!important;
    padding:3px 18px!important;
    height:48px;
  } 
  .el-button--success.is-plain span{
    font-size:14px!important;
  }
  .el-slider__bar{
    height: 12px!important;
    background-color: #fdd301!important;
    border-top-left-radius:6px!important;
    border-bottom-left-radius:6px!important;
  }
  .el-slider__button{
    width: 25px!important;
    height: 25px!important;
    border: none!important;
    background: url('./../assets/images/sliderPic.png');
    background-size: 100% 100%;
    margin-top:5px;
  }
  .rightBar .left{
    border-right:1px solid #e4e4e4;
  }
  .indexPic1{
    width:20px;
  }
  .indexPic2{
    width:22px;
  }
  .list{
   padding-left:5px;
  }
  .list i{
   position:relative;
   width:30px;
   height:40px;
   float: left;
  }
  .list i img{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .el-slider__runway{
    height:12px!important;
    background-color: #dedfdf!important;
  }
  .tips3{
    height:40px;
  }
  .contentBottom{
    padding:30px 50px;
  }
  .contentBottom p span:nth-child(1){
    margin-right:5px;
  }
  .contentBottom p span{
    font-size:14px;
    line-height:24px;
  }
}

.indexH5{
  margin-top:120px;
  .headTips{
    position:absolute;
    top:100px;
    left:60px;
  }
  .tips2{
   padding:8px 20px;
   background:#fff;
   border-radius:15px;
  }
  .tips2 img{
   height:50px;
  }
  .swiperH5p img{
   width:300px;
  }
  .el-carousel__container{
   height:500px;
  }
  .el-carousel__container p{
   height:60px;
   line-height:60px;
  }
  .is-active .el-carousel__button{
    background-color: #43e2de!important;
  }
  .el-carousel__button{
    background-color: #ccc!important;
    width: 60px!important;
    height: 4px!important;
  }
  .indexConH5{
    width:560px;
    margin: 280px auto 60px auto;
    padding:40px;
    background:#ffd401;
    border-radius:40px;
  }
  .contentBox{
    border-radius:40px;
  }
  .el-slider__bar{
    height: 24px!important;
    background-color: #fdd301!important;
    border-top-left-radius:12px!important;
    border-bottom-left-radius:12px!important;
  }
  .el-slider__button{
    width: 50px!important;
    height: 50px!important;
    border: none!important;
    background: url('./../assets/images/sliderPic.png');
    background-size: 100% 100%;
  }
  .el-button--primary.is-plain.active {
    background: #fdd301 !important;
    border-color: #fdd301 !important;
  }
  .el-button--primary.is-plain {
    color: #000 !important;
    background: #edeced !important;
    border-color: #edeced !important;
    padding: 12px 18px!important;
  }
  .el-button--success.is-plain {
    color: #000 !important;
    background: #fdd301 !important;
    border-color: #fdd301 !important;
    border-radius: 20px !important;
    padding: 5px 15px!important;
  }
  .swithBtn{
    position:absolute;
    top:-214px;
    left:0;
    width: 100%;
  }
  .swithBtn p{
   width:180px;
   height:180px;
   border-radius:50%;
   border:2px solid #ffd401;
   position:relative;
  }
  .swithBtn p.active{
   background:#ffd401!important;
  }
  .swithBtn p.active:after{
   background:#ffd401!important;
   border-top:2px solid #ffd401!important;
  }
  .swithBtn p:after{
   content:'';
   width:16px;
   height:36px;
   left:50%;
   bottom:-36px;
   margin-left:-8px;
   background:#FFF;
   border:2px solid #ffd401;
   border-top:2px solid #fff;
   position: absolute;
   box-sizing: border-box;
   border-bottom-left-radius:5px;
   border-bottom-right-radius:5px;
  }
  .swithBtn p:nth-child(1) i{
   line-height:30px;
   margin-top:60px;
   display:block;
  }
  .swithBtn p:nth-child(2) i{
   line-height:40px;
   margin-top:70px;
   display:block;
  }
  .rightBar .left {
    border-right: 1px solid #e4e4e4;
  }
  .list{
    text-align:left;
  }
  .list i {
    position: relative;
    width: 40px;
    height: 60px;
    float: left;
  }
  .list i img {
    position: absolute;
    top: 50%;
    left:0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .indexPic2 {
    width: 32px;
  }
  .indexPic1 {
    width: 28px;
  }
  .tips3 {
    height: 46px;
  }
  .contentBottom {
    padding: 30px;
  }
  .contentBottom p{
    margin-top: 10px;
  }
  .contentBottom p span:nth-child(1) {
    margin-right: 10px;
  }
  .contentBottom p span {
    font-size: 24px;
    line-height: 40px;
  }
}