.index {
  .headContent{
    background: url('../assets/images/head@2x.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
    -moz-background-size: 100% auto;
  }
  .headTips{
    position:absolute;
    top:50%;
    left:50%;
    width:1000px;
    margin-left:-500px;
    text-align:left;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
  }
  .tips1{
    font-size:34px;
    color:#a79000;
    font-family: 'gothamrounded-light';
  }
  .tips2 img{
    height:38px;
  }
  .indexContent{
    padding:0 40px 20px 40px;
  }
  .indexContent .grid-content img{
    width:170px;
    height:170px;
  }
  .indexContent .grid-content p{
    text-align:center;
    margin-top:10px;
  }
  .contentBox{
    border:1px solid #000;
    border-radius:15px;
  }
  .el-button--primary.is-plain{
    color: #000000!important;
    background: #edeced!important;
    border-color: #edeced!important;
    padding:7px 14px!important;
  }
  .el-button--primary.is-plain span{
    font-size:18px!important;
  }
  .el-button--primary.is-plain.active{
    background: #fdd301!important;
    border-color: #fdd301!important;
  }
  .el-button--success.is-plain{
    color: #000000!important;
    background: #fdd301!important;
    border-color: #fdd301!important;
    border-radius:10px!important;
    padding:3px 18px!important;
  } 
  .el-button--success.is-plain span{
    font-size:14px!important;
  }
  .el-slider__bar{
    height: 12px!important;
    background-color: #fdd301!important;
    border-top-left-radius:6px!important;
    border-bottom-left-radius:6px!important;
  }
  .el-slider__button{
    width: 25px!important;
    height: 25px!important;
    border: none!important;
    background: url('../assets/images/sliderPic.png');
    background-size: 100% 100%;
    margin-top:5px;
  }
  .rightBar .left{
    border-right:1px solid #e4e4e4;
  }
  .indexPic1{
    width:20px;
  }
  .indexPic2{
    width:22px;
  }
  .list{
   padding-left:5px;
  }
  .list i{
   position:relative;
   width:30px;
   height:40px;
   float: left;
  }
  .list i img{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .el-slider__runway{
    height:12px!important;
    background-color: #dedfdf!important;
  }
  .tips3{
    height:40px;
  }
  .contentBottom{
    padding:30px 50px;
  }
  .contentBottom p span:nth-child(1){
    margin-right:5px;
  }
  .contentBottom p span{
    font-size:14px;
    line-height:24px;
  }
}