.el-menu--collapse .el-menu .el-submenu, .el-menu--popup{
  min-width: 120px!important;
}
.selectPic{
  margin-right:6px;
  margin-top:-1px;
  width:24px!important;
  height:24px!important;
}
.el-menu--horizontal>.el-submenu.selectLan.is-active .el-submenu__title{
  border-bottom-color: #fecf1d!important;
}
.el-menu--horizontal .el-menu-item:not(.is-disabled):focus, .el-menu--horizontal .el-menu-item:not(.is-disabled):hover{
  background-color: #cba617!important;
}
.el-menu.el-menu--horizontal{
  border-bottom: none!important;
}