.PaymentCode{
	margin-top: 50px;
}
.PaymentCode .PaymentCodeHead{
	background-color: #ffffff;
	text-align: center;
	padding: 3rem 0rem;
	border-top: 1px solid #F3F3F3;
}
.PaymentCode .PaymentCodeHead img{
	width: 30%;
}
.PaymentCode .PaymentCodeHead .Account{
	font-size: 1.1rem;
	color: #040404;
	line-height: 1.2rem;
	margin: 1rem 0rem;
}
.PaymentCode .PaymentCodeHead .Code{
	font-size: 2rem;
	font-weight: bold;
	color: #000000;
	line-height: 2rem;
}
.PaymentCode .am-pull-to-refresh-content-wrapper{
	overflow: visible;
}
.am-pull-to-refresh-indicator{
	color: transparent!important;
}
.PaymentCode .am-list-item .am-list-line .am-list-content{
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding: 0px;
    font-size: 1.08rem;
    color: #999999;
}
.PaymentCode .am-list-item .am-list-line,.PaymentCode .am-list-item{
	padding: 0px;
}
.PaymentCode .am-list-item{
	min-height: 3rem;
	line-height: 3rem;
}
.PaymentCode .am-list-body div:not(:last-child) .am-list-line,.PaymentCode .am-list-body{
	border: 0;
}
.PaymentCode .am-list-body{
	padding: 0.8rem 0rem;
}
.PaymentCode .am-list-item .am-list-line .am-list-extra{
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    white-space:normal;
    padding: 0px;
    font-size: 1.08rem;
    color: #333333!important;
}
.PaymentCode .data{
	width: 100%;
	background-color: #ffffff;
}
.PaymentCode .list{
	width: 92%;
	margin: auto;
	border-top: 1px solid #F3F3F3;
}
.PaymentCode .way .am-list-content{
	line-height: 1rem;
	margin-top: -1.4rem;
}
.PaymentCode .way .am-list-extra{
	line-height: 1.4rem;
}
.PaymentCode .linking{
	color: #AFAFAF;
	font-size: 1rem;
	text-decoration: underline;
	position: fixed;
	text-align: center;
	bottom: 2rem;
	width: 100%;
}
.PaymentCode .tips{
	font-size: 0.95rem;
	color: #999999;
	width: 92%;
	margin: auto;
	margin-top:2rem;
	margin-bottom: 4rem; 
}
.PaymentCode .cancel{
	position: fixed;
	z-index: 9999;
	color: #E9A215;
	right:4%;
	top:10px;
	font-size: 14px;
	border:1px solid #E9A215;
	border-radius: 4px;
	padding: 3px 6px;
}