.event{
  min-width: 320px;
  height: 100%;
}
.event .eventLink{
  display: block;
  width: 92%;
  margin: auto;
  position: relative;
}
.event .img{
  width: 100%;
  margin-top: 1em;
}
.event .timeDate{
  color:#AB6600;
  text-transform: none;
  position: absolute;
  top:63%;
  display: block;
  width: 20%;
  font-family:PingFang-SC;
}
.event .startDate{
  left: 6.2%;
}
.event .endDate{
  left: 23.7%;
}
.event .timeDate .left{
  font-size: 0.9rem;
  width: 28%;
  position: relative;
}
.event .timeDate .left:before{
  position: absolute;
  width: 0%;
  content: '';
  display: block;
  border-right:1px dashed #c47d2a;
  bottom: 15%;
  height: 70%;
  right: 6%;
}
.event .timeDate .left,.event .timeDate .right{
  display: inline-block;
  vertical-align: middle;
}
.event .timeDate .right label{
  display: block;
}
.event .timeDate .right{
  line-height: 0.58rem;
  font-size: 0.38rem;
  color: #764d9f;
}
.event .emptyTip{
  color: #999999;
  height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 0.81rem;
  line-height: 1.4rem;
  background-color: #f6f6f6;
}
.event .emptyTip span{
  width: 60%;
  margin: auto;
  padding-top: 40%;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  display: block;
}