.page-addresses {
  padding-bottom: 60px;

  .lay-adres {
    .item {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      padding: 0 12.5px;
      background-color: #fff;

      &:first-child {
        margin-top: 0;
      }
    }

    .info {
      position: relative;
      padding: 7.5px 0;
      bd-line(bottom, 1px, #eaeaea);

      .adres {
        margin-bottom: 5px;
        line-height: 1.3;
        text-align: justify;
      }

      .name-phone {
        font-size: 13px;
        color: #7e7e7e;
      }
    }

    .acts {
      display: flex;
      justify-content: space-between;
      height: 35px;
      font-size: 13px;

      .act-box {
        display: flex;

        .act {
          margin-left: 15px;
        }
      }

      .act {
        display: flex;
        align-items: center;
      }

      .ico {
        margin-right: 4px;
      } 
    }
  }
}
