.page-bind {
  padding: 50px 15px 0 15px;

  .item-bind {
    position: relative;
    display: flex;
    align-items: center;
    padding: 7px 0;
    height:50px;
    margin-bottom: 10px;
    bd-line(bottom, 1px, #eaeaea);

    .btn-code, .cut-time {
      width: 110px;
      height: 40px;
      line-height: 40px;
    }

    .cut-time {
      font-size: 14px;
      color: #999;
      text-align: center;
      border-radius: 20px;
      background-color: #eee;
    }

    .ipt {
      flex: 1;
    }
  }
  
  .pwd_eyes.close {
    background-image: url('../../assets/images/eye-close.png') !important;
  }

  .pwd_eyes {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: 24px;
    background-position: 0 0;
    background-image: url('../../assets/images/eye-open.png');
  }

  .i-phone, .i-lock, .i-person, .i-ver {
    margin-right: 10px;
  }

  .i-phone {
    width: 20px;
    height: 20px;
    background-image: url('../../assets/images/phone.png');
  }
  
  .i-ver {
    width: 20px;
    height: 20px;
    background-image: url('../../assets/images/ver.png');
  }

  .i-person {
    width: 20px;
    height: 20px;
    background-image: url('../../assets/images/person.png');
  }
  .i-lock {
    width: 20px;
    height: 20px;
    background-image: url('../../assets/images/lock.png');
  }
  
  p.links a {
    display: table-cell;
    text-align: center;
    color: #000;
    width: 50%;
    float: left;
    font-size: 13px;
  }

  .btn-bind {
    margin: 30px 0 20px 0;
    width:100%;
  }
}
