.page-joinstatus {
  text-align: center;

  .img {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-top: 55px;
    margin-bottom: 17.5px;
  }

  .title {
    font-size: 18px;
    line-height: 1.7;
  }

  .tag {
    font-size: 14px;
    color: #828282;
  }

  .btn-submit {
    position: absolute;
    bottom: 30px;
    left: 20px;
    right: 20px;
    width: auto;
    border-radius: 5px;
  }
}
