@charset "utf-8";
/* CSS Document */

div{
  width:100%;
  height:200px;
  background-color:#CC3;
  color:#90F;
}
@media ( max-width:900px ){
  div{
	  background-color:#fff333;
  	  color:#493092;
  }
}
@media ( max-width:600px ){
  div{
	  background-color:#f80023;
  	  color:#ffff00;
  }
}