.page-join {
  padding-bottom: 50px;
  .lay-info {}
  .info-type {
    .con {
      flex: 1;
      display: flex;
      align-items: center;
      height: 100%;
    }
    .item {
      display: flex;
      align-items: center;
      margin-right: 15px;
      margin-left: 15px;
      color: #828282;
      &.checked {
        color: #000;
      }
    }
    .i-cks {
      display: inline-block;
      margin-right: 5px;
      font-size: 0;
      line-height: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  .info-uid {
    display: flex;
    padding-left: 15px;
    .tit {
      line-height: 44px;
    }
    .con {
      flex: 1;
      display: flex;
      padding-top: 15px;
    }
    .item {
      margin-left: 30px;
      text-align: center;
      .add-box {
        width: 80px;
        height: 80px;
        .img {
          height: 100%;
        }
        border: 1px solid #999;
      }
      .add {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 36px;
        color: #999;
      }
      .g-core-image-upload-form input {
        position: absolute;
        left: 0;
        top: 0;
      }
      .txt {
        margin-top: 5px;
        font-size: 15px;
        color: #999;
      }
      .img-box {}
    }
  }
}
