@charset "utf-8";
#app, body {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
html,body {
  margin: 0;
  padding: 0;
  font-family: PingFang SC, Microsoft YaHei;
  font-size: 1em;
  margin: auto;
  color: #333333;
  background-color: #f5f5f5;
  word-wrap: break-word;
  touch-action: pan-y;
}
li,p,ul{
  padding: 0px;
  margin: 0px;
}
::-webkit-scrollbar {
  display: none;
}
table{
  width: 100%;
  border-collapse: collapse; 
}
table, table tr th,  table tr td { 
border:1px solid #ccc; 
}
/* 字体颜色 */ 
.txt-ztx {
  color: #FAAD0C;
}
.txt-black {
  color: #333!important;
}
.txt-dark {
  color: #666!important;
}
.txt-gray {
  color: #999!important;
}
.txt-red {
  color: #e71d32!important;
}
.txt-red2 {
  color: #F24724!important;
}
.txt-blue {
  color: #108EE9!important;
}
.txt-white {
  color: #fff!important;
}
.txt-orange {
  color: #F24724!important;
}
/*背景颜色*/

.bg-white {
  background: #FFF!important;
}
.bg-gray {
  background: #f5f5f5!important;
}
/*行高 高度*/
p{
  line-height: 1.43rem;
}
.lh-20{
  line-height: 1.43rem;
}
.lh-24 {
  line-height: 1.71rem;
}
.lh-28 {
  line-height: 2rem;
}
.lh-30 {
  line-height: 2.14rem;
}
.lh-36 {
  line-height: 2.57rem;
}
.h36 {
  height: 36px;
}
/*textarea/input的placeholder颜色*/

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #CCC
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #CCC
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #CCC
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #CCC
}
/*解决input自动填充*/

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #999;
}
/*字体样式*/
.fs-10{
  font-size: 20px;
  display: inline-block;
  -webkit-text-size-adjust:none;
  width: 200%;
  -o-transform-origin-x:0%;
  -moz-transform-origin-x:0%;
  -webkit-transform-origin-x:0%;
  transform: scale(0.50);
  -moz-transform: scale(0.50);
  -o-transform: scale(0.50);
  -webkit-transform: scale(0.50);/*缩小一半*/
}
.fs-11{
  font-size: 22px;
  display: inline-block;
  -webkit-text-size-adjust:none;
  width: 200%;
  -o-transform-origin-x:0%;
  -moz-transform-origin-x:0%;
  -webkit-transform-origin-x:0%;
  transform: scale(0.50);
  -moz-transform: scale(0.50);
  -o-transform: scale(0.50);
  -webkit-transform: scale(0.50);/*缩小一半*/
}
.fs-12{
  font-size:0.85rem!important;
}
.fs-13{
  font-size:0.93rem!important;
}
.fs-14{
  font-size:1rem!important;
}
.fs-15{
  font-size:1.07rem!important;
}
.fs-16{
  font-size:1.15rem!important;
}
.fs-18{
  font-size:1.3rem!important;
}
.fs-25{
  font-size:1.78rem!important;
}
.fs-25r{
  font-size:2.5rem!important;
}
.fs-3rem{
  font-size:3rem!important;
}
.ht-44{
  height: 44px;
  line-height: 44px;
}
i {
  font-style: normal;
}
.fsize-normal {
  font-weight: 500
}
.fsize-bold {
  font-weight: 600
}
.bradius-px5 {
  border-radius: 5px
}
/* 定位方式 */

.fixed-top {
  position: fixed;
  top: 0;
}
.fixed-bottom {
  position: fixed;
  bottom: 0;
}
.full-screen {
  width: 100%;
}
/* 字体对齐 */

.txt-left {
  text-align: left!important;
}
.txt-center {
  text-align: center!important;
}
.txt-right {
  text-align: right!important;
}
/*盒子样式*/
.h100{
  min-height: 100%;
}
.rt5 {
  margin-right: 5px;
}
.lt5 {
  margin-left: 5px;
}
.mt5 {
  margin-top: 5px!important;
}
.mt10 {
  margin-top: 10px!important;
}
.mt25 {
  margin-top: 25px!important;
}
.mb2 {
   border-bottom: 2px solid #f5f5f5;
}
.mb5 {
  margin-bottom: 5px!important;
}
.mb10 {
  margin-bottom: 10px!important;
}
.pb5 {
  padding-bottom: 5px!important;
}
.pt5 {
  padding-top: 5px!important;
}
.hide {
  display: none!important
}
.mg15{
  margin: 0 15px!important;
}
.mg5{
  margin: 0 5px!important;
}
.pdl15{
  padding-left: 15px!important;
}
.pd15{
  padding: 0 15px!important;
}
.pdb15{
  padding-bottom: 15px!important;
}
/*1px 解决方案*/

.vux-1px, .vux-1px-t, .vux-1px-b, .vux-1px-tb, .vux-1px-l, .vux-1px-r {
  position: relative;
}
.vux-1px:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  border: 1px solid #EEE;
  color: #EEE;
  height: 200%;
  transform-origin: left top;
  transform: scale(0.5);
}
.vux-1px-t:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #EEE;
  color: #EEE;
  transform-origin: 0 0;
  transform: scaleY(0.5);
}
.vux-1px-b:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #EEE;
  color: #EEE;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.vux-1px-tb:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #EEE;
  color: #EEE;
  transform-origin: 0 0;
  transform: scaleY(0.5);
}
.vux-1px-tb:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #EEE;
  color: #EEE;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.vux-1px-l:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-left: 1px solid #EEE;
  color: #EEE;
  transform-origin: 0 0;
  transform: scaleX(0.5);
}
.vux-1px-r:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-right: 1px solid #EEE;
  color: #EEE;
  transform-origin: 100% 0;
  transform: scaleX(0.5);
}
.center {
  text-align: center
}
/*
** felex 布局
*/

/*水平布局*/

.horizontal-view {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow:  row nowrap;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
/*垂直布局*/

.vertical-view {
  display: flex;
  flex-flow:  row nowrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/*设置或检索弹性盒子元素在侧轴（纵轴）方向上的对齐方式。*/

/*弹性盒子元素的侧轴（纵轴）起始位置的边界紧靠住该行的侧轴起始边界。*/

.align-items-start {
  display: flex;
  flex-flow:  row nowrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start
}
/*弹性盒子元素在该行的侧轴（纵轴）上居中放置。（如果该行的尺寸小于弹性盒子元素的尺寸，则会向两个方向溢出相同的长度）。*/

.align-items-center {
  display: flex;
  flex-flow:  row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center
}
/*弹性盒子元素的侧轴（纵轴）起始位置的边界紧靠住该行的侧轴结束边界。*/

.align-items-end {
  display: flex;
  flex-flow:  row nowrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end
}
/*如弹性盒子元素的行内轴与侧轴为同一条，则该值与'flex-start'等效。其它情况下，该值将参与基线对齐。*/

.align-items-baseline {
  display: flex;
  flex-flow:  row nowrap;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  align-items: baseline
}
/*如果指定侧轴大小的属性值为'auto'，则其值会使项目的边距盒的尺寸尽可能接近所在行的尺寸，但同时会遵照'min/max-width/height'属性的限制。*/

.align-items-stretch {
  display: flex;
  flex-flow:  row nowrap;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch
}
/*设置或检索弹性盒子元素在主轴（横轴）方向上的对齐方式。*/

/*弹性盒子元素将向行起始位置对齐。该行的第一个子元素的主起始位置的边界将与该行的主起始位置的边界对齐，同时所有后续的伸缩盒项目与其前一个项目对齐。*/

.justify-content-start {
  display: flex;
  flex-flow:  row nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start
}
/*弹性盒子元素将向行结束位置对齐。该行的第一个子元素的主结束位置的边界将与该行的主结束位置的边界对齐，同时所有后续的伸缩盒项目与其前一个项目对齐。*/

.justify-content-center {
  display: flex;
  flex-flow:  row nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center
}
/*弹性盒子元素将向行中间位置对齐。该行的子元素将相互对齐并在行中居中对齐，同时第一个元素与行的主起始位置的边距等同与最后一个元素与行的主结束位置的边距（如果剩余空间是负数，则保持两端相等长度的溢出）。*/

.justify-content-end {
  display: flex;
  flex-flow:  row nowrap;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end
}
/*弹性盒子元素会平均地分布在行里。如果最左边的剩余空间是负数，或该行只有一个子元素，则该值等效于'flex-start'。在其它情况下，第一个元素的边界与行的主起始位置的边界对齐，同时最后一个元素的边界与行的主结束位置的边距对齐，而剩余的伸缩盒项目则平均分布，并确保两两之间的空白空间相等。*/

.justify-content-space-between {
  display: flex;
  flex-flow:  row nowrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}
/*平分父容器 弹性盒子元素会平均地分布在行里，两端保留子元素与子元素之间间距大小的一半。如果最左边的剩余空间是负数，或该行只有一个伸缩盒项目，则该值等效于'center'。在其它情况下，伸缩盒项目则平均分布，并确保两两之间的空白空间相等，同时第一个元素前的空间以及最后一个元素后的空间为其他空白空间的一半。*/

.justify-content-space-around {
  display: flex;
  flex-flow:  row nowrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around
}
/*等宽度对齐flex1*/

.flex1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.flex2 {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -ms-flex: 2;
  -webkit-flex: 4;
  flex: 2;
}
.flex3 {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -ms-flex: 3;
  -webkit-flex: 3;
  flex: 3;
}
.flex4 {
  -webkit-box-flex: 4;
  -moz-box-flex: 4;
  -ms-flex: 4;
  -webkit-flex: 4;
  flex: 4;
}
.flexg1 {
  flex-grow: 1.2
}
.flexg2 {
  flex-grow: 2
}
.txt-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
.flexBox{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.am-button-primary{
  border: none!important;
}
.am-button{
  font-size: 1.2rem;
  line-height: 3rem;
  height: 3rem;
  background: -webkit-linear-gradient(#4CC9F7, #2598EB); 
  background: linear-gradient(#4CC9F7, #2598EB);
  background: -moz-linear-gradient(#4CC9F7, #2598EB); 
  border:none;
  border-radius: 4px;
  -moz-border-radius: 4px; /* Firefox */
    -webkit-border-radius:4px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx){
  html:not([data-scale]) .am-list-body div:not(:last-child) .am-list-line::after {
    background-color: #fff!important;
  }
  html:not([data-scale]) .am-list-body::before{
    background-color: #fff!important;
  }
  html:not([data-scale]) .am-button-primary::before{
    border:none!important;
  }
  html:not([data-scale]) .am-list-body::after{
    background-color: #fff!important;
  }
  html:not([data-scale]) .am-action-sheet-button-list-item::before{
    background-color: #ffffff!important;
  }
}

/* 统一ant-mobile变量 */
.am-modal-button-group-v .am-modal-button{
  color: #FFB03B!important;
}
.am-modal-transparent .am-modal-content{
  padding-top: 5px!important;
}
.am-modal-header{
  padding: 6px 10px 10px 10px!important;
}
.am-modal-transparent .am-modal-content .am-modal-body{
  padding:0 5px 10px 5px!important;
}
.am-modal-button-group-v .am-modal-button::before{
  background-color: #f3f3f3!important;
}
.am-modal-button-group-v .am-modal-button,.am-modal-title{
  font-size: 1.1rem!important;
}
.am-modal-body{
  font-size: 1rem!important;
}
.am-modal-mask{
  background-color: rgba(0, 0, 0, 0.6)!important;
}
.am-list-item .am-list-line .am-list-extra{
  color: #999!important;
}
.am-result .am-result-title, .am-result .am-result-message{
  color: #333!important;
}
.am-modal-transparent .am-modal-content .am-modal-header{
  padding: 12px 0!important;
}
.am-list-item{
  min-height: 50px;
}
.alert{
  font-size: 1rem;
  color: #666666;
  text-align: center;
  line-height: 1.3rem;
  padding: 1rem 1.1rem;
}
.normal.am-modal-transparent .am-modal-content .am-modal-body{
  padding: 0px!important;
}
.am-modal-button-group-v .am-modal-button{
  border-color: #F3F3F3;
}
.am-number-keyboard-wrapper table tr .am-number-keyboard-item.keyboard-confirm.am-number-keyboard-item-disabled{
  background-color: #108ee9!important;
  border-color: #F3F3F3!important;
}
.am-modal-button-group-h{
  border-color: #F3F3F3!important;
}
.am-modal-button-group-h .am-modal-button:last-child{
  border-color: #F3F3F3!important;
}
.am-modal-button-group-h .am-modal-button:first-child{
  color: #AFAFAF!important;
}
.am-modal-button-group-h .am-modal-button{
  color: #FFB03B!important;
  border-color: #F3F3F3;
}
.am-number-keyboard-wrapper table tr .am-number-keyboard-item.keyboard-confirm.am-number-keyboard-item-disabled{
  background-color: #108ee9!important;
}
.am-list-item .am-input-clear{
  width: 14px!important;
  height: 14px!important;
  background-size: 14px auto!important;
}