body{
	font-size: 14px;
	font-family:PingFang SC;
}
.am-navbar-light .am-navbar-title{
	-webkit-box-flex: 6;
    -webkit-flex: 6;
    -ms-flex: 6;
    flex: 6;
    color:#333333;
    font-size:16px;
}
.am-navbar-light .am-icon-md{
	width: 26px;
	height: 26px;
	min-width:26px;
	min-height:26px;
	color: #999999;
}
.am-navbar{
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}
#bgBlue .bgBlue{
  background: transparent!important;
}
#bgBlue .bgBlue .am-icon-md,.bgBlueTrue .am-icon-md{
  color: #FFF!important;
}
#bgBlue .bgBlue .am-navbar-title,.bgBlueTrue .am-navbar-title{
  color: #FFF!important;
}
#bgBlue .bgBlueTrue{
  background: #108EE9!important;
}
.am-navbar .am-navbar-left{
	padding-left: 1%!important;
}