/*现金积分*/
.header-box, .header-box, .header-menu, .conter_fore, .conter_far{width: 100%;}
.header-box .header-menu{overflow: hidden; background: #fff; height: 45px; border-bottom: 1px solid #CCCCCC; box-sizing: border-box; top: 0px; z-index: 998;}
.header-box .logo{display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: center; font-size: 16px; color: #444; margin: 0 40px; height: 45px; line-height: 45px;}
.header-box .header-icon{display: block; position: absolute; height: 25px; top: 10px;}
/*现金积分contener*/
.container, .series-number{width: 100%;}
.container{position: relative; overflow: hidden; margin-top: 45px;} .conter_one{overflow: hidden;position: relative;} .series-number, .banner-bg{height: 65px;}
.series-number{background-color: #ffffff;}
.series-number .banner-bg{width: 100%;display: block;}
.series-text-box{position: absolute; left: 40%; top: 36%; width: 5.013333333333333rem;}
.series-text{text-align: center;color: #fff;}
.conter_tuo, .conter_three{width: 100%; height: 45px; background-color: #ffffff; border-bottom: 1px solid #e5e5e5; margin-bottom: 10px;}
.conter_tuo ul{width: 100%; overflow: hidden;}
.conter_tuo ul li{float: left; height: 45px; line-height: 45px;}
.conter_tuo ul li p a{display: block; font-size: 15px; color: #333;}
.conter_tuo .list_one{width: 20%;}
.conter_tuo .list_one p{text-align: center;}
.conter_tuo ul .list_tuo{width: 30%;}
.conter_tuo ul .list_one, .list_tuo{text-align: center; float: left;}
.conter_three .center{text-align: center;line-height: 45px;}
.conter_fore .center_one{width: 100%;height: 80px;background-color: #ffffff; border-bottom: 1px solid #e5e5e5; margin-bottom: 10px; padding: 0 15px;}
.center_one .left, .monney{padding-top: 15px;padding-bottom: 15px;}
.center_one .left{float: left;font-size: 15px;color: #333;}
.center_one .right{float: right;}
.top_one .monney{overflow: hidden;}
.monney p{float: right;font-size: 15px;}
.monney p:nth-child(2){color: #d9a400;}
.conter_far .conter_fa{color: #888;font-size: 15px;text-align: center;background: #fff;padding-top: 20px;}
/*业务积分*/
.center_font_one{text-align: left!important;padding: 0 15px;color: #333;}
.conter_height{height: 40px!important;line-height: 40px;}
.conter_height .left_padding, .monney_padding{padding-top: 0px!important; padding-bottom: 0px!important;}
.conter_height .monney_padding p:nth-child(1){color: #333;}
.whit_espace{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.conter_height .left_padding{width: 70%;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
