/* homeheader */     
   .header {  
        height: 0.88rem;  
    }  
    .header_inner {  
        position: fixed;  
        top: 0;  
        left: 0;  
        right: 0;  
        z-index: 99;  
        max-width: 640px;  
        height: 0.88rem;  
        box-sizing: border-box;  
        margin: 0 auto;  
        padding: 0 0.24rem;  
        border-bottom: 0.02rem solid #80ccd6;  
        background-color: #fff;  
    }  
    .header_cont {  
        text-align: center;  
        padding: 0 0.4rem;  
        line-height: 0.86rem;  
        font-size: 15px;  
        overflow: hidden;  
        text-overflow: ellipsis;  
        white-space: nowrap;  
    } 

    /* home */
    .container {  
        max-width: 640px;  
        margin: 0 auto;  
        overflow-x: hidden;  
    }  
    .cont_ul {  
        padding-top: 0.05rem;  
        margin: 0 -0.12rem;  
    }  
    .cont_ul:after {  
        content: "";  
        display: block;  
        width: 0;  
        height: 0;  
        clear: both;  
    }  

    /*footer*/
    .footer{ 
      height: 0.88rem;
      width:100%; 
      position: fixed;
      bottom:0;
       left: 0;
       right: 0;
       z-index: 99;
       max-width: 640px;
       height: 0.88rem;
       -webkit-box-sizing: border-box;
       box-sizing: border-box;
       margin: 0 auto;
       padding: 0 0.24rem;
       border-top: 0.02rem solid #80ccd6;
       background-color: #fff;
    }
    .footer li{
    	float:left;
    	width:25%;
    	font-size: 15px;
    	line-height:0.88rem;
    	text-align: center;
    }