.page-goodseva {
  .eva-list {
    padding: 0 10px 10px;

    .item {
      position: relative;
      padding-top: 10px;
      bd-line(bottom, 1px, #eaeaea);

      &:last-child:after {
        display: none;
      }
    }

    .eva-pro {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 25px;
    }

    .pro {
      display: flex;
      align-items: center;
    }

    .art-box {
      height: 25px;
      width: 25px;
      margin-right: 2.5px;
      border-radius: 50%;
      overflow: hidden;
    }

    .avatar {
      border-radius: 13px;
      height: 100%;
    }

    .name {
      font-size: 12px;
    }

    .date {
      font-size: 11px;
      color: #878787;
    }

    .i-star {
      width: 9px;
      height: 9px;
      margin-left: 4px;
      background-image: url('../../assets/images/star-act.png');
    }

    .eva-text {
      padding: 7px 0 10px;
      font-size: 13px;
    }

    .eva-goods {
      padding: 8px 0 7.5px;
      font-size: 12px;
      color: #979797;
    }
  }
}
