.page-mine {
  padding-bottom: 50px;

  .lay-avatar {
    height: 150px;
    padding-top: 15px;
    background: #fff url('https://pic.xjjxsd.cn/static/applet/profile-bg.png') no-repeat center 15px / contain;
    text-align: center;

    .avatar {
      width: 78.5px;
      height: 78.5px;
      margin: 0 auto 5px;
      border-radius: 50%;
      overflow: hidden;

      .img {
        border-radius: 50%;
        height: 100%;
      }
    }

    .name {
      display: inline-block;
      font-size: 16px;
      color: #FF4F00;
    }
  }

  .lay-order {
    padding-bottom: 8.5px;

    .v-cell-box {
      padding-left: 0;

      .lay-cell {
        padding-left: 15px;
      }

      .text {
        color: #FF4F00;
      }
    }

    .list {
      padding: 17px 14px 13px;
      background-color: #fff;
    }

    .v-flex-list .title {
      font-size: 10px;
    }
  }

  .about {
    margin-top: 7.5px;
  }

  .help {
    margin-bottom: 7.5px;
  }

  .join, .help {
    .lay-cell:after {
      display: none;
    }
  }
}
