.page-evaserve {
  padding: 20px 7.5px 0;
  background-color: #fff;

  .lay-eva {
    margin-bottom: 20px;

    .title {
      margin-bottom: 7.5px;
      color: #626262;
    }

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 42px;

      .type {
        color: #626262;
      }

      .star {
        font-size: 0;
      }

      .i-star {
        width: 19px;
        height: 19px;
        margin-left: 5px;
        background-image: url('../../assets/images/star-bg.png');

        &.active {
          background-image: url('../../assets/images/star-act.png');
        }
      }
    }
  }
}
