.page-share {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: auto;
  background: url('../assets/images/share.jpg') no-repeat center / cover;
  .qr-img {
    width: 105px;
    height: 105px;
  }
}
