<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<title>商城</title>
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="min_css/public.css">
		<link rel="stylesheet" href="min_css/content.css">
		<link rel="stylesheet" href="min_css/swiper.min.css">
		<style>
			html,
			body {
				position: relative;
			}
			
			.swiper-container {
				width: 100%;
				height: auto;
				margin-left: auto;
				margin-right: auto;
			}
			
			.swiper-slide {
				text-align: center;
				float: left;
				background: #fff;
				width: 100%;
				height: auto;
				position: relative;
				display: -webkit-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				-webkit-align-items: center;
				align-items: center;
			}
			
			.swiper-slide img {
				width: 100%;
			}
			
			.swiper-pagination-bullet {
				opacity: 1;
			}
			
			.swiper-pagination-bullet-active {
				display: inline-block;
				margin-top: 14px;
				margin-left: 5px;
				margin-right: 5px;
				width: 20px;
				height: 8px;
				background: #c7c7c7!important;
				border-radius: 9999px;
				cursor: pointer;
				transition: all 0.6s;
			}
			
			.swiper-pagination-bullet {
				background: #fff;
			}
		</style>
	</head>

	<body>
		<div id="app">
			<header class="header-box">
				<div class="header-menu" id="headerMenu">
					<span class="logo">商城</span>
					<div class="header-icon left-icon">
						<a href="javascript:;" class="icon_mall"></a>
					</div>
					<div class="header-icon right-icon">
						<a href="shopcar.html" class="icon"><i class="sprite gocar"></i><em></em></a>
					</div>
				</div>
			</header>
			<div class="content ct_other">

				<div class="swiper-container">
					<div class="swiper-wrapper">
					
					
						<div class="swiper-slide"  v-for="mallPhotoListpic in mallPhoto"><!--@click="mallPhotoListpic.h5LinkUrl"-->
						
						<a v-if="mallPhotoListpic.linkType==1" :href="mallPhotoListpic.h5LinkUrl">  
						<img v-bind:data-src="mallPhotoListpic.photoUrl" class="swiper-lazy"> 
						</a> 
						
						<div  v-if="mallPhotoListpic.linkType==2" @click="">
						<img v-bind:data-src="mallPhotoListpic.photoUrl" class="swiper-lazy">
						</div>
						
						<span v-if="mallPhotoListpic.linkType==3" @click="toDetail(mallPhotoListpic.param)">
						<img v-bind:data-src="mallPhotoListpic.photoUrl" class="swiper-lazy">
						</span>
						
						
						
						</div>
						
						
					</div>
					<div class="swiper-pagination"></div>
				</div>
				<div class="detail_bg"></div>

				<div class="hotsale burst">
					<div class="mall_line"></div>
					<div class="mall_wd">品牌推荐</div>
					<div class="swiper-container-hot">
						<div class="swiper-wrapper">

							<div class="swiper-slide" v-for="goods in goodsOneList" @click="toDetail(goods.id)">
								<p><img v-bind:data-src="goods.goodsMainPhoto" class="swiper-lazy"><em v-text="goods.goodsName"></em><i class="ct_active">¥<b v-text="goods.salePrice"></b></i></p>
							</div>
						</div>
						<div class="swiper-pagination-hot"></div>
					</div>
				</div>
				<div class="detail_bg"></div>

				<div class="hotsale recommend" v-if="goodsTwoList_one">
					<div class="mall_line"></div>
					<div class="mall_wd">热销爆款</div>
					<ul>
						<li>
							<div class="mall_top" v-if="goodsTwoList_one&&goodsTwoList_one.goodsName" @click="toDetail(goodsTwoList_one.id)">
								<p v-text="goodsTwoList_one.goodsName"></p>
								<p>点击购买</p>
								<p v-if="goodsTwoList_two&&goodsTwoList_one.goodsMainPhoto"><img :src="goodsTwoList_one.goodsMainPhoto"></p>
							</div>
							<div class="mall_bottom" v-if="goodsTwoList_two&&goodsTwoList_two.goodsName" @click="toDetail(goodsTwoList_two.id)">
								<p v-text="goodsTwoList_two.goodsName"></p>
								<p>推荐</p>
								<p v-if="goodsTwoList_two&&goodsTwoList_two.goodsMainPhoto"><img :src="goodsTwoList_two.goodsMainPhoto"></p>
							</div>

						</li>
						<li>
							<div class="mall_right" v-if="goodsTwoList_three&&goodsTwoList_three.goodsName" @click="toDetail(goodsTwoList_three.id)">
								<p v-text="goodsTwoList_three.goodsName"></p>
								<p>hot</p>
								<p><img :src="goodsTwoList_three.goodsMainPhoto"></p>
							</div>
							<div class="mall_low" v-if="goodsTwoList_four && goodsTwoList_four.goodsName">
								<p v-text="goodsTwoList_four.goodsName"></p>
								<p>hot</p>
								<p v-if="goodsTwoList_four&&goodsTwoList_four.goodsMainPhoto" @click="toDetail(goodsTwoList_four.id)"><img :src="goodsTwoList_four.goodsMainPhoto"></p>

								<p v-if="goodsTwoList_five&&goodsTwoList_five.goodsName" v-text="goodsTwoList_five.goodsName"></p>
								<p v-if="goodsTwoList_five">hot</p>
								<p v-if="goodsTwoList_five&&goodsTwoList_five.goodsMainPhoto" @click="toDetail(goodsTwoList_five.id)"><img :src="goodsTwoList_five.goodsMainPhoto"></p>

							</div>

						</li>
					</ul>
				</div>
				<div class="detail_bg"   v-if="goodsTwoList_one"></div>

				<div class="hotsale choice">
					<div class="mall_line"></div>
					<div class="mall_wd">为您精选</div>

					<ul>
						<li v-for="goods in LatestGoodsList" @click="toDetail(goods.id)">
							<p><img :data-original="photo+goods.goodsMainPhoto" src="images/logo_mr.png" class="lazy"></p>
							<p v-text="goods.goodsName"></p>
							<p class="ct_active">¥<b v-text="goods.salePrice"></b></p>
						</li>

					</ul>

				</div>
			</div>

			<footer>
				<div class="bg_footer"></div>
				<ul>
					<li onclick="javascript:window.location.href='mall.html'">
						<p><i class="sprite pic_sc0"></i></p>
						<p class="active">商城</p>
					</li>
					<!--<li onclick="javascript:window.location.href='live.html'">
				<p><i class="sprite pic_zb1"></i></p>
				<p>直播</p>
			</li>-->
					<li onclick="javascript:window.location.href='information.html'">
						<p><i class="sprite pic_zx1"></i></p>
						<p>资讯</p>
					</li>
					<li onclick="javascript:window.location.href='index.html'">
						<p><i class="sprite pic_rx1 hots"></i></p>
						<p>热销</p>
					</li>
					<li onclick="javascript:window.location.href='order.html'">
						<p><i class="sprite pic_dz1"></i></p>
						<p>定制</p>
					</li>

					<li onclick="javascript:window.location.href='buyer.html'">
						<p><i class="sprite pic_wd1"></i></p>
						<p>我的</p>
					</li>
				</ul>
			</footer>
			<div id="gotop">
				<div class="sprite gopic"></div>
			</div>
		</div>
	</body>

</html>
<script type="text/javascript" src="min_js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="min_js/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="min_js/publick.js"></script>
<script type="text/javascript" src="min_js/api.js"></script>
<script type="text/javascript" src="min_js/commonUtil.js"></script>
<script type="text/javascript" src="min_js/jquery.md5.js"></script>
<script type="text/javascript" src="min_js/vue.min.js"></script>
<!-- Swiper JS -->
<script src="min_js/swiper.min.js"></script>
<script>
	var vm = new Vue({
		el: '#app',
		data: {
			mallPhotoList: [],
			goodsOneList: [],
			goodsTwoList: [],
			goodsThreeList: [],
			mallPhoto:[],
			//最新商品
			LatestGoodsList: [],
			goodsTwoList_one: "",
			goodsTwoList_two: "",
			goodsTwoList_three: "",
			goodsTwoList_four: "",
			goodsTwoList_five: ""

		},

		created: function() {
			//商城轮播
			commonUtil.request({
				url: carouselPic,
				type: "post",
				data: {
					advertType: 1,
					deviceType: 1
				},
				contentType: "application/json",
				success: function(data) {
					console.log(data);
					if(data.code == 1) { 
						$.each(data.content, function(index, obj) {
							if(obj && obj.photoUrl) {
								 obj.photoUrl=photo + obj.photoUrl;
							}
						}); 
						vm.mallPhoto = data.content;
						
						//console.log(vm.mallPhoto); 
						/*$.each(vm.mallPhoto, function(index, obj) {
							if(obj && obj.photoUrl) {
								vm.mallPhotoList.push(photo + obj.photoUrl);
							}
						});*/
						console.log(vm.mallPhoto); 

					}
				}
			});
			//楼层
			commonUtil.request({
				url: getAllFloor,
				type: "get",
				contentType: "application/json",
				success: function(data) {
					if(data.code == 1) {
						vm.goodsOneList = data.content[0].goodsLst; 
						$.each(vm.goodsOneList, function(index, value) {
							if(this.goodsMainPhoto) {
								this.goodsMainPhoto = photo + this.goodsMainPhoto.split(",")[0];
							}

						}); 
						
						vm.goodsTwoList = data.content[1].goodsLst;
						$.each(vm.goodsTwoList, function(index, value) {
							if(this.goodsMainPhoto) {
								this.goodsMainPhoto = photo + this.goodsMainPhoto.split(",")[0];
							}

						});
						
						vm.goodsThreeList = data.content[2].goodsLst;
						$.each(vm.goodsThreeList, function(index, value) {
							if(this.goodsMainPhoto) {
								this.goodsMainPhoto = photo + this.goodsMainPhoto.split(",")[0];
							}

						});
						if(vm.goodsTwoList[0]) {
							vm.goodsTwoList_one = vm.goodsTwoList[0];
						}
						if(vm.goodsTwoList[1]) {
							vm.goodsTwoList_two = vm.goodsTwoList[1];
						}
						if(vm.goodsTwoList[2]) {
							vm.goodsTwoList_three = vm.goodsTwoList[2];
						}
						if(vm.goodsTwoList[3]) {
							vm.goodsTwoList_four = vm.goodsTwoList[3];
						}
						if(vm.goodsTwoList[4]) {
							vm.goodsTwoList_five = vm.goodsTwoList[4];
						}
						vm.lazyloadImg();

					}
				}
			}); 

		},
		mounted: function() { //生命期钩子 
			this.$nextTick(function() {
				vm.GoodsNum();
			})

		},
		methods: {

			lazyloadImg: function() {

				this.$nextTick(function() {
					$("img.lazy").lazyload({
						placeholder: "images/logo_mr.png",
						effect: "fadeIn",
						failurelimit: 10
					});
					$(".choice li img").widH();

				})

			},
			//去商品详情页面
			toDetail: function(goodsId) {
				window.sessionStorage.setItem("detailGoodsId", goodsId);
				window.location.href = "detail.html";
			},
			GoodsNum: function() {
				$(".right-icon em").html(window.sessionStorage.getItem("carGoodsNumber"));
			}

		}

	})
</script>
<script>
	var mySwiper = new Swiper('.swiper-container', { //swiper-container为上面的class容器
		freeMode: false, //默认为false，普通模式：slide滑动时只滑动一格，并自动贴合wrapper，设置为true则变为free模式，slide会根据惯性滑动且不会贴合
		pagination: '.swiper-pagination', //分页器 
		slidesPerView: 1, //一个页面宽度显示2.6个板块
		loop: true, //是否循环播放
		autoplay: 5000, //自动播放
		speed: 300, //速度
		spaceBetween: 0, ///两个板块之间的空间间距0px 
		lazyLoading: true,
		initialSlide: 10, //从第10个图片开始， 默认为0
		observer: true, //修改swiper自己或子元素时，自动初始化swiper
		observeParents: true, //修改swiper的父元素时，自动初始化swiper
		autoplayDisableOnInteraction: false, //注意此参数，默认为true,Swiper自动地轮播时slides触碰该滑块自动轮播就会停止 这句代码为false时再次触发
		onSlideChangeStart: function(swiper) {
			swiper.update(); //更新Swiper 
			mySwiper.startAutoplay(); //重新开始自动切换； 
			mySwiper.reLoop(); //重新对需要循环的slide个数进行计算 
		}
	});
</script>
<script>
	var hotSwiper = new Swiper('.swiper-container-hot', { //swiper-container为上面的class容器
		freeMode: false, //默认为false，普通模式：slide滑动时只滑动一格，并自动贴合wrapper，设置为true则变为free模式，slide会根据惯性滑动且不会贴合
		pagination: '.swiper-pagination-hot', //分页器 
		slidesPerView: 3, //一个页面宽度显示2.6个板块
		loop: true, //是否循环播放
		autoplay: 5000, //自动播放
		speed: 300, //速度
		spaceBetween: 10, ///两个板块之间的空间间距30px 
		lazyLoading: true,
		initialSlide: 10, //从第10个图片开始， 默认为0
		observer: true, //修改swiper自己或子元素时，自动初始化swiper
		observeParents: true, //修改swiper的父元素时，自动初始化swiper
		autoplayDisableOnInteraction: false, //注意此参数，默认为true,Swiper自动地轮播时slides触碰该滑块自动轮播就会停止 这句代码为false时再次触发

	});
</script>
<script type="text/javascript" src="min_js/dropload.min21.js"></script>
<script> 
//总页数
var totalPage = 1;//初始化
//当前页
var page = 0;

// dropload
$('.choice').dropload({
    scrollArea : window,
    domDown : {
        domClass   : 'dropload-down', 
        domLoad    : '<div class="dropload-load" style="clear:both"><span class="loading"></span>加载中...</div>'
    },
    loadDownFn : function(me){  
    	if(page< totalPage){
			page= parseInt(page) + 1;
			console.log(page);
			var result = '';
			 
		commonUtil.request({
	            type: 'post',
	            url: goodsList,
	            
	            dataType: 'json',
	            cache : false,
				async : false,
				data : {
					"page" : page,
					"limit":8
				},
	            success: function(data){
					totalPage=data.content.totalPage; 
	            	jQuery.each(data.content.list,function(i,v){  
						v.goodsMainPhoto=v.goodsMainPhoto.split(",")[0];  
						result += '<li onclick="toDetail('+v.id+')"><p><img data-original='+photo+v.goodsMainPhoto+' src="images/logo_mr.png" class="lazy"></p> <p>'+v.goodsName+'</p> <p class="ct_active">¥'+v.salePrice+'</p></li>';   
					}); 
	            },
	            error: function(xhr, type){
	                me.resetload();
	            }
	        });
			setTimeout(function(){
				$('.choice ul').append(result);
				me.resetload();
				$("img.lazy").widH();
				$("img.lazy").lazyload({
						placeholder: "images/logo_mr.png",
						effect: "fadeIn",
						failurelimit: 10
				});
			},1000);
			
		}else{
			$(".dropload-down").html("已全部加载");
			setTimeout(function(){
				$(".dropload-down").hide();
			},1500);
		}
    }
});
	
function toDetail(goodsId) {
	window.sessionStorage.setItem("detailGoodsId", goodsId);
	window.location.href = "detail.html";
}	
</script>
	 
